/**
 * CONTENTS
 *
 * DEFAULT
 *
 * TEXT 
 * Decorations............Text decorations
 * 
 */

/*------------------------------------*\
  #DEFAULT
\*------------------------------------*/

body {
    font-family: sans-serif;
    background-color:   #fff;
}

.cntr {
    text-align:         center;
}

.delb, .noconfirm {
    color:              red;
}

.actb,.admb,.editb,.delb,.devb,.reqb,.rdob,.disb {
    cursor:             pointer;
}

/*------------------------------------*\
  #Decorations
\*------------------------------------*/
.nodec {
    color:              black;
    // text-decoration:    none;
}