{# any standard footer content goes in here and it will be included by @util/page.twig by default #}
<div class="fixed-bottom row d-flex justify-content-center bg-secondary">
    <p class="cntr py-2 my-auto">Made by Kazymir Rabier</p>
</div>